<footer>
<section>
        <div class="row">

                <p class="mb-0 copyright"> <strong>&copy Lucas Jenvrain - {{ "now"|date("Y") }} - Repository Github :
                        <a href="{{ translate('githubRepo') }}" target="_blank">Here</a> </strong> </p>            </div>


</section>
</footer>
